// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.navbar-brand a:hover{text-decoration:none}
a.navbar-brand{font-weight:500}
header a.tel{text-decoration: underline #000 dotted}
.carousel-caption{top:20px}
.step .border{border-width:5px!important}
.price{font-size: 3.5rem;font-weight: 300}
.small{font-weight:inherit}
.pricelist .card{border-width:6px}
.pricelist .card-header{border-radius:2px 2px 0 0}
.pricelist .card-footer{border-radius:0 0 2px 2px}
.footer-menu{border-top:1px solid #000;padding-top:1rem}
.footer-menu li{padding:.25rem 0}
.footer-menu a{color:#000}
.footer-menu ul,.widget ul{list-style-type:none;padding-left:0px}
.widget select{max-width:100%}
.widget li{padding:.75rem 1.25rem}
.widget li,.comments-area li{border-top:1px solid #f3f0e7}
.widget_calendar table{width:100%;text-align:right}
.comments-area ul{list-style-type:none}
.mm-menu{background-color: #f3f0e7}
